The analysis here refers to the Factor Analysis section of the following paper:

[The sustainable development oxymoron: quantifying and modelling the incompatibility of sustainable development goals](https://www.tandfonline.com/doi/full/10.1080/13504509.2016.1235624)

### Import Modules

In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Import Data

In [32]:
df_raw = pd.read_csv('data/oxymoron/SDG_paper_data_all_raw.csv')
df_raw.head()

,Row.names,country,year,civil_libert,polit_rights,freedom_press,democ,autoc,polity,polity2,...,RL.PER.RNK,RL.STD.ERR,RQ.EST,RQ.NO.SRC,RQ.PER.RNK,RQ.STD.ERR,VA.EST,VA.NO.SRC,VA.PER.RNK,VA.STD.ERR
0,Afghanistan.1980,Afghanistan,1980,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan.1981,Afghanistan,1981,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan.1982,Afghanistan,1982,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan.1983,Afghanistan,1983,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan.1984,Afghanistan,1984,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Row.names,country,year,civil_libert,polit_rights,freedom_press,democ,autoc,polity,polity2,...,RL.PER.RNK,RL.STD.ERR,RQ.EST,RQ.NO.SRC,RQ.PER.RNK,RQ.STD.ERR,VA.EST,VA.NO.SRC,VA.PER.RNK,VA.STD.ERR
0,Afghanistan.1980,Afghanistan,1980,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan.1981,Afghanistan,1981,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan.1982,Afghanistan,1982,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan.1983,Afghanistan,1983,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan.1984,Afghanistan,1984,7.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df = pd.read_csv('data/oxymoron/SDG_paper_data.csv')
df.head()

,country,year,Row.names,civil_libert,polit_rights,freedom_press,polity2,durable,INTTOT,CIVTOT,...,trade_freedom.resc,TX.VAL.AGRI.ZS.UN.resc,WORKER.resc,government_spending.resc,IT.NET.USER.P2.resc,RL.EST.resc,NE.CON.TOTL.CD.resc,NY.ADJ.DRES.GN.ZS.resc,NE.CON.TETC.CD.resc,NY.GDS.TOTL.CD.resc
0,Afghanistan,1980,Afghanistan-1980,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.078607,NaN,NaN
1,Afghanistan,1981,Afghanistan-1981,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.074783,NaN,NaN
2,Afghanistan,1982,Afghanistan-1982,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.072438,NaN,NaN
3,Afghanistan,1983,Afghanistan-1983,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.070094,NaN,NaN
4,Afghanistan,1984,Afghanistan-1984,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.067749,NaN,NaN

,country,year,Row.names,civil_libert,polit_rights,freedom_press,polity2,durable,INTTOT,CIVTOT,...,trade_freedom.resc,TX.VAL.AGRI.ZS.UN.resc,WORKER.resc,government_spending.resc,IT.NET.USER.P2.resc,RL.EST.resc,NE.CON.TOTL.CD.resc,NY.ADJ.DRES.GN.ZS.resc,NE.CON.TETC.CD.resc,NY.GDS.TOTL.CD.resc
0,Afghanistan,1980,Afghanistan-1980,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.078607,NaN,NaN
1,Afghanistan,1981,Afghanistan-1981,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.074783,NaN,NaN
2,Afghanistan,1982,Afghanistan-1982,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.072438,NaN,NaN
3,Afghanistan,1983,Afghanistan-1983,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.070094,NaN,NaN
4,Afghanistan,1984,Afghanistan-1984,7.0,7.0,NaN,NaN,0.0,0.0,7.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.067749,NaN,NaN

### Check availability of targets that were mentioned in the paper within these datasets

In [34]:
target_labels = [
    'Poverty',
    'Hunger',
    'Child.Mortality',
    'Education',
    'Women.Parliament',
    'Water',
    'Alternative.Energy',
    'Youth.Unemployment',
    'Internet',
    'GINI',
    'Sanitation',
    'Air.Pollution',
    'CO2.emissions',
    'Protected.Sea',
    'Protected.Land',
    'Violence']

target_columns = [
    'SI.POV.DDAY',
    'SN.ITK.DEFC.ZS',
    'SH.DYN.MORT',
    'SE.SEC.ENRR',
    'SG.GEN.PARL.ZS',
    'SH.H2O.SAFE.ZS',
    'EG.USE.COMM.CL.ZS',
    'SL.UEM.1524.ZS',
    'IT.NET.USER.P2',
    'SI.POV.GINI',
    'SH.STA.ACSN',
    'SH.STA.AIRP.P5',
    'EN.ATM.CO2E.PC',
    'ER.MRN.PTMR.ZS',
    'ER.LND.PTLD.ZS',
    'VC.IHR.PSRC.P5']

goals_df = pd.DataFrame([target_labels,target_columns]).T
goals_df.columns = ['target_label', 'target_column']
goals_df.index = range(1,17)
goals_df

columns = list(df.columns)
goals_df['Available?'] = [target_column in columns for target_column in goals_df['target_column']]

columns_raw = list(df_raw.columns)
goals_df['Available in Raw?'] = [target_column in columns_raw for target_column in goals_df['target_column']]

goals_df

          target_label      target_column  Available?  Available in Raw?
1              Poverty        SI.POV.DDAY       False               True
2               Hunger     SN.ITK.DEFC.ZS       False               True
3      Child.Mortality        SH.DYN.MORT        True               True
4            Education        SE.SEC.ENRR        True               True
5     Women.Parliament     SG.GEN.PARL.ZS        True               True
6                Water     SH.H2O.SAFE.ZS        True               True
7   Alternative.Energy  EG.USE.COMM.CL.ZS        True               True
8   Youth.Unemployment     SL.UEM.1524.ZS        True               True
9             Internet     IT.NET.USER.P2        True               True
10                GINI        SI.POV.GINI       False               True
11          Sanitation        SH.STA.ACSN       False               True
12       Air.Pollution     SH.STA.AIRP.P5       False              False
13       CO2.emissions     EN.ATM.CO2E.PC        True               True
14       Protected.Sea     ER.MRN.PTMR.ZS       False               True
15      Protected.Land     ER.LND.PTLD.ZS        True               True
16            Violence     VC.IHR.PSRC.P5       False               True

          target_label      target_column  Available?  Available in Raw?
1              Poverty        SI.POV.DDAY       False               True
2               Hunger     SN.ITK.DEFC.ZS       False               True
3      Child.Mortality        SH.DYN.MORT        True               True
4            Education        SE.SEC.ENRR        True               True
5     Women.Parliament     SG.GEN.PARL.ZS        True               True
6                Water     SH.H2O.SAFE.ZS        True               True
7   Alternative.Energy  EG.USE.COMM.CL.ZS        True               True
8   Youth.Unemployment     SL.UEM.1524.ZS        True               True
9             Internet     IT.NET.USER.P2        True               True
10                GINI        SI.POV.GINI       False               True
11          Sanitation        SH.STA.ACSN       False               True
12       Air.Pollution     SH.STA.AIRP.P5       False              False
13       CO2.emissions     EN.ATM.CO2E.PC        True               True
14       Protected.Sea     ER.MRN.PTMR.ZS       False               True
15      Protected.Land     ER.LND.PTLD.ZS        True               True
16            Violence     VC.IHR.PSRC.P5       False               True

## Processing
### Add indices extracted from SDG_paper_data into the un-indexed mydata and save
This output will be used as the input to the R script factorAnalysis.R

In [35]:
mydata = pd.read_csv('data/oxymoron/from_RData/mydata_export.csv', index_col='Unnamed: 0').reset_index(drop=True) 

mydata.insert(0,'country',df['country'])
mydata.insert(1,'year',df['year'])

mydata.head()

,country,year,CO2.emissions,Air.Pollution,Protected.Land,Education,Women.Parliament,Child.Mortality,Water,GINI,...,Hunger,Violence,Internet,Protected.Sea,Sanitation,Poverty,Alternative.Energy,oneoverco2,oneoverpl,oneoverps
0,Afghanistan,1980,0.133543,NaN,NaN,0.832369,NaN,25.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.432544,NaN,NaN
1,Afghanistan,1981,0.153030,NaN,NaN,0.806355,NaN,24.87,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.492247,NaN,NaN
2,Afghanistan,1982,0.166306,NaN,NaN,0.893583,NaN,24.21,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.977075,NaN,NaN
3,Afghanistan,1983,0.206086,NaN,NaN,0.884190,NaN,23.51,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.828900,NaN,NaN
4,Afghanistan,1984,0.238812,NaN,NaN,0.874798,NaN,22.75,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.169937,NaN,NaN

,country,year,CO2.emissions,Air.Pollution,Protected.Land,Education,Women.Parliament,Child.Mortality,Water,GINI,...,Hunger,Violence,Internet,Protected.Sea,Sanitation,Poverty,Alternative.Energy,oneoverco2,oneoverpl,oneoverps
0,Afghanistan,1980,0.133543,NaN,NaN,0.832369,NaN,25.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.432544,NaN,NaN
1,Afghanistan,1981,0.153030,NaN,NaN,0.806355,NaN,24.87,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.492247,NaN,NaN
2,Afghanistan,1982,0.166306,NaN,NaN,0.893583,NaN,24.21,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.977075,NaN,NaN
3,Afghanistan,1983,0.206086,NaN,NaN,0.884190,NaN,23.51,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.828900,NaN,NaN
4,Afghanistan,1984,0.238812,NaN,NaN,0.874798,NaN,22.75,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.169937,NaN,NaN

In [36]:
# write this new mydata (which now has country and year indices) to file
mydata.to_csv('outputs/data/for_r/mydata_with_indices.csv')